@font-face { font-family: bubble; src: url('bubble.ttf'); } 



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


body{
    display: flex;
    flex-direction: column;
    background-color: #b2807f;
}

nav{
    display: flex;
    padding: 1%;
    background-color: #966261;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

nav h1{
    font-family: bubble;
    color: rgb(109, 23, 23);
    margin-left: 5%;
    width: 50%;
}

ul{
    display: flex;
    width: 50%;
    list-style-type: none;
    margin-right: 5%;
    gap: 10%;
    justify-content: flex-end;

}

a{
    font-family: bubble;
    color: rgb(109, 23, 23);
    text-decoration: none;
}

a:hover{
    color: rgb(155, 32, 32);
}

.main{
    display: flex;
    margin-top: -2.5%;
}

.left{
    display: flex;
    margin-left: -4%;
    width: 65%;
    justify-content: center;
    align-items: center;
}

.right{
    display: flex;
    padding-top: 2.5%;
    padding-right: 3%;
    width: 35%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: #b2807f;
    padding-bottom: 2.5%;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 30%;
    font-size: 20px;
    
}

.right button{
    font-family: bubble;
    padding: 7%;
    background-color: rgb(221, 157, 157);
    color: #8a0402;
    border-radius: 15px;
    font-weight: 800;
    border: 2px solid #8a0402;
}

.right button:hover{
    color: rgb(197, 42, 42);
}

.right h1{
    text-align: center;
    padding: 5%;
    background-color: rgb(221, 157, 157);
    border-radius: 15px;
    font-family: bubble;
    color: #8a0402;
}

.rules{
    background-color: rgb(221, 157, 157);
    padding: 5%;
}

.rules p{
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;

}

h4{
    padding-bottom: 1.5%;
    font-family: bubble;
    color: rgb(168, 40, 40);
}

.footer{
    padding: 1%;
    background-color: #966261;
    text-align: center;
    font-family: bubble;
    color: rgb(109, 23, 23);
}

/* body{
    background-image: url("pictures/rpsred.svg");
    background-size: contain;
}

h1{
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
} */