@font-face { font-family: bubble; src: url('bubble.ttf'); } 


html {
    overflow-y: scroll;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    display: flex;
    flex-direction: column;
    background-color: #bc7e7f;
    height: 100vh;
}

nav{
    display: flex;
    padding: 1%;
    background-color: #966261;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-family: bubble;
    color: rgb(109, 23, 23);
    margin-left: 5%;
    width: 50%;
    text-align-last: left;
}

ul{
    display: flex;
    width: 50%;
    list-style-type: none;
    margin-right: 5%;
    gap: 10%;
    justify-content: flex-end;

}

a{
    font-family: bubble;
    color: rgb(109, 23, 23);
    text-decoration: none;
}

a:hover{
    color: rgb(155, 32, 32);
}

#reset:hover{
    background-color: rgb(219, 108, 108);
}

#reset:active{
    transform: translateY(2px);
}
#directions{
    display: block;
    text-align: center;
    padding: 1%;
    background-color: #bc7e7f;
}  

.rps{
    background-color: #bc7e7f;
    display: flex;
    height: 60%;
    border-bottom: 2px solid rgb(109, 23, 23);
}

.player{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(109, 23, 23);
}

.playerChoice{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 2%;
    padding: 2%;
    background-color: rgb(221, 157, 157);
}

.rock, .paper, .scissors{
    width: 30%;
}

.playerChoice img{
    width: 100%;
    height: auto;
    border: 2px solid rgb(109, 23, 23);
}

.playerChoice p{
    text-align: center;
    width: 100%;
}

.player h1, .computer h1{
    padding-top: 0.96vh;
    padding-bottom: 0.96vh;
    border-top: 2px solid rgb(109, 23, 23);
    border-bottom: 2px solid rgb(109, 23, 23);
}




.computer{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(109, 23, 23);
    border-left: 2px solid rgb(109, 23, 23);
}

.computerChoice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2%;
    background-color: rgb(221, 157, 157);
}

.computerChoice img{
    height: auto;
    box-sizing: border-box;
    width: 50%;
    border: 2px solid rgb(109, 23, 23);
}

.computerFigure{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#placeholder{
    box-sizing: border-box;
    width: 50%;
    aspect-ratio: 1/1;
    border: 2px solid rgb(109, 23, 23);
    background-color: rgb(221, 157, 157);
}

#computerCaption{
    margin-top: 1%;
    height: 5%;
}


.scoreboard{
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 2px solid rgb(109, 23, 23);
    border-radius: 15px;
}

.scoreboard > h1{
    color: rgb(112, 26, 26);
    text-align: center;
    width: 100%;
    margin: 1%;
}

.scoreboard button{
    color: rgb(131, 29, 29);
    padding: 1% 2% 1% 2%;
    background-color: rgb(221, 157, 157);
    border-radius: 15px;
    border: 2px solid rgb(109, 23, 23);
    margin: 1%;
}


.scores{
    width: 100%;
    background-color: rgb(207, 147, 147);
    display: flex;
    border-top: 2px solid rgb(109, 23, 23);
    border-bottom: 2px solid rgb(109, 23, 23);
}

.playerScore{
    color: rgb(131, 29, 29);
    padding: 1% 0.5% 1% 1%;
    background-color: rgb(221, 157, 157);
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgb(109, 23, 23);
}

.computerScore{
    color: rgb(131, 29, 29);
    padding: 1% 0.5% 1% 0.5%;
    background-color: rgb(221, 157, 157);
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.playerScore h1 , .computerScore h1{
    margin-bottom: 1%;
}

.gameResult{
    padding: 2%;
    color: rgb(109, 23, 23);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.footer{
    padding: 1%;
    background-color: #966261;
    text-align: center;
    font-family: bubble;
    color: rgb(109, 23, 23);
}

